<h2 mat-dialog-title>{{quiz.name}}</h2>

<mat-dialog-content class="dialog-size">
  <form fxLayout="row wrap">

    <mat-form-field fxFlex="100">
      <input matInput name="name" [(ngModel)]="question.name" placeholder="Question" required>
    </mat-form-field>

    <br><br><br>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <div fxFlex></div>
  <button mat-raised-button color="primary" (click)="save()" [disabled]="question.name == null || question.name == ''">Save</button>
</mat-dialog-actions>
