<mat-toolbar color="primary">

  <div fxFlex fxLayout="row">
    <button (click)="back()" mat-icon-button matTooltip="Volver hacia atrás">
      <mat-icon aria-label="Volver hacia atrás">arrow_back</mat-icon>
    </button>
    <button routerLink="/" mat-icon-button>
      <mat-icon>home</mat-icon>
    </button>
    <div fxFlex></div>
  </div>

  <span>Your Test</span>

  <div fxFlex fxLayout="row">
    <div fxFlex></div>
    <div class="button-row">
      {{activeUser.firstName}}
      <button mat-raised-button color="accent" *ngIf="!activeUser.id" routerLink="/login">Login</button>
      <button (click)="signOut()" mat-icon-button *ngIf="activeUser.id" matTooltip="Exit to App">
        <mat-icon aria-label="Exit to App">exit_to_app</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
