
<mat-card class="margin-20">

  <mat-card-title>
    <div fxLayout="row" *ngIf="quiz != null">
      {{quiz.name}} ({{questions.length}})
      <div fxFlex></div>

    </div>
  </mat-card-title>

  <mat-divider></mat-divider>

  <br>

  <mat-card-content>

    <div *ngFor="let question of questions; let i = index">

      <span fxFlex *ngIf="question.answers && question.answers.length > 0">
        <h3 fxLayout="row" [ngClass]="[ !formResolved ? '' : examResolved[question.id].correct ? '' : 'red lighten-5' ]">
          <span fxFlex="1" [ngClass]="[ !formResolved ? '' : examResolved[question.id].correct ? 'green' : 'red' ]"></span>
          <span fxFlex="1"></span>
          <p fxFlex>{{i+1}}. {{question.name}}</p>
        </h3>

        <mat-radio-group class="radio-group" [(ngModel)]="responseQuestion[question.id]" fxLayout="row wrap" (change)="checkForm()" [disabled]="formResolved">
          <div fxFlex="100" *ngFor="let answer of question.answers; let j = index" class="radio-button"
          [ngClass]=" (examResolved[question.id] != null && answer.correct) ? 'green-text text-darken-3 fwb' : '' ">
            <mat-radio-button [value]="answer.id" color="primary"></mat-radio-button>
            {{convertToNumberingScheme(j+1)}} - {{answer.name}}
          </div>
        </mat-radio-group>

        <mat-divider *ngIf="i != questions.length - 1"></mat-divider>
      </span>
    </div>

    <div *ngIf="questions.length < 1">
      Any question...
    </div>

    <div fxLayout="row" *ngIf="formResolved" [ngClass]="(correctAnswer * 100 / questions.length > 50) ? 'green-text' : 'red-text'">
      <mat-divider></mat-divider>
      <br>
      <br>

      <span flex></span>

      <h2 fxFlex fxFlex.xs="100">Correct Answer: {{correctAnswer}}</h2>

      <h2 fxFlex fxFlex.xs="100">{{correctAnswer * 100 / questions.length}}%</h2>

      <span flex></span>
    </div>

  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-actions>
    <div fxLayout="row">

      <div fxFlex></div>

      <button fxFlex fxFlex.xs="100" mat-raised-button color="primary" (click)="resolveExam()" [disabled]="!formValid || formResolved">
        <mat-icon>send</mat-icon>
        Resolve
      </button>

      <div fxFlex></div>

    </div>
  </mat-card-actions>

</mat-card>
