
<mat-card class="margin-20">

  <mat-card-title>
    <div fxLayout="row" *ngIf="quiz != null">
      {{quiz.name}} ({{questions.length}})
      <div fxFlex></div>

      <button mat-icon-button [disabled]="allExpandState" color="primary" matTooltip="Expand all"
              matTooltipPosition="before" (click)="allExpandState = true">
        <mat-icon aria-label="Expand all">expand_more</mat-icon>
      </button>

      <button mat-icon-button [disabled]="!allExpandState" color="primary" matTooltip="Contract all"
              matTooltipPosition="before" (click)="allExpandState = false">
        <mat-icon aria-label="Contract all">expand_less</mat-icon>
      </button>

      <button mat-icon-button mat-raised-button color="primary" matTooltip="Añadir una nueva pregunta" matTooltipPosition="before"
              (click)="openDialogQuestion()">
        <mat-icon aria-label="New question">add</mat-icon>
      </button>
    </div>
  </mat-card-title>

  <mat-divider></mat-divider>
  <br>

  <mat-card-content>

    <mat-accordion multi="true">
      <mat-expansion-panel *ngFor="let item of questions; let i = index" (opened)="getAnswers(item)" [expanded]="allExpandState">
        <mat-expansion-panel-header class="line-divider-header">
          <mat-panel-title>
            <p>{{i + 1}} - <b>{{item.name}}</b></p>
          </mat-panel-title>
          <!--<mat-panel-description>-->
            <!--<p>{{item.owner.firstName}}</p>-->
          <!--</mat-panel-description>-->
        </mat-expansion-panel-header>

        <mat-list>
          <div *ngFor="let answer of item.answers; let j = index;">
            <mat-list-item>
              <mat-icon *ngIf="answer.correct" class="green-text">done</mat-icon>
              <mat-icon *ngIf="!answer.correct">remove</mat-icon>
              <p> {{answer.name}}</p>

              <div fxFlex></div>

              <button mat-icon-button color="primary" matTooltip="Delete answer" (click)="deleteAnswer(item, answer)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-list-item>
            <mat-divider inset *ngIf="j != item.answers.length - 1"></mat-divider>
          </div>
        </mat-list>

        <p *ngIf="item.answers && item.answers.length == 0">No hay respuestas en esta pregunta.</p>

        <mat-action-row>
          <button mat-button color="primary" matTooltip="Delete question" (click)="deleteQuestion(item.id)">
            <mat-icon>delete</mat-icon>
            Delete
          </button>

          <div fxFlex></div>

          <button mat-button color="primary" (click)="openDialog(item)" matTooltip="Insert new answer">
            <mat-icon aria-label="Insert new answer">question_answer</mat-icon>
            New answer
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>

    <div fxLayout="row" *ngIf="questions.length < 1">
      <div fxFlex></div>

      <button mat-raised-button color="primary" (click)="openDialogQuestion()" matTooltip="Insert new question">
        <mat-icon aria-label="Insert new question">add</mat-icon>
        New Question
      </button>

      <div fxFlex></div>
    </div>

  </mat-card-content>

</mat-card>
