
<mat-card class="margin-20">

  <mat-card-title>
    <div fxLayout="row">
      List of Quizzes ({{quizzes.length}})
      <div fxFlex></div>
      <button mat-icon-button color="primary" (click)="openDialogQuiz()" matTooltip="New quiz" matTooltipPosition="before">
        <mat-icon aria-label="New quiz">add</mat-icon>
      </button>
    </div>
  </mat-card-title>

  <mat-divider></mat-divider>

  <mat-card-content>

    <mat-list>
      <div *ngFor="let item of quizzes">
        <mat-list-item>
          <span>{{item.name}}</span>

          <div fxFlex></div>

          <button mat-icon-button color="primary" matTooltip="Visualizar" routerLink="/quiz-detail/{{item.id}}">
            <mat-icon>visibility</mat-icon>
          </button>
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </mat-list>
  </mat-card-content>

</mat-card>
