<mat-card class="margin-20">

  <mat-card-title>
    <div fxLayout="row" fxLayout.xs="column">
      Dashboard Panel

      <div fxFlex></div>
      <!--<button mat-icon-button color="primary" matTooltip="Añadir nueva encuesta" matTooltipPosition="before">-->
        <!--<mat-icon aria-label="Nueva encuesta">add</mat-icon>-->
      <!--</button>-->
    </div>
  </mat-card-title>

  <mat-divider></mat-divider>

  <mat-card-content>

    <br>

    <button mat-raised-button color="accent" routerLink="/quizzes">Quizzes</button>

  </mat-card-content>

</mat-card>
